<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <th:block th:fragment="header">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    </th:block>
    <title>Components</title>
</head>
<body>
    <th:block class="Dashboard Fragments">
        <div class="d-flex">
            <!-- Sidebar Component -->
            <aside id="sidebar" class="sidebar-toggle border-end bg-white" th:fragment="dashboardSidebar(currentPage)">
                <div class="sticky-top px-4">
                    <div class="sidebar-logo py-5 fs-4 d-flex justify-content-center">
                        <a th:href="@{/}"><img th:src="@{/images/aitc-logo.png}" width="40px" alt="logo" class="me-1">Ace Exam Platform</a>
                    </div>
                    <ul class="sidebar-nav border-start mx-auto mt-5 overflow-y-auto" style="max-width:200px;">
                        <li class="sidebar-header text-uppercase fw-bold">
                            Dashboard
                        </li>
                        <li class="sidebar-item py-2">
                            <a th:href="@{/scheduled}" th:class="|${currentPage == 'SCHEDULED' ? 'text-primary' : 'fw-light'} fs-5 lh-lg|">Scheduled Exams</a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a th:href="@{/ongoing}" th:class="|${currentPage == 'ONGOING' ? 'text-primary' : 'fw-light'} fs-5 lh-lg|">Ongoing Exams</a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a th:href="@{/recorded}" th:class="|${currentPage == 'RECORDED' ? 'text-primary' : 'fw-light'} fs-5 lh-lg|">Recorded Exams</a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a th:href="@{/{route}(route=${currentPage == 'CREATE' ? 'create-r' : 'create'})}" th:class="|${currentPage ==  'CREATE' ? 'text-primary' : 'fw-light'} fs-5 lh-lg|">Create New Exam</a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- Main Component -->
            <div class="main w-100">
                <!-- Navbar Component -->
                <div class="position-sticky top-0" th:fragment="dashboardNavbar">
                    <nav class="navbar navbar-expand border-bottom py-3 bg-white">
                        <button class="toggler-btn border-0 rounded-end-pill" type="button">
                            <img th:src="@{/images/burger-menu-left-svgrepo-com.svg}" width="30px" alt="sidebar">
                        </button>
                        <div class="container justify-content-between">
                            <div class="col-8 col-md-6">
                                <form action="#" class="d-block" th:action="@{/search}" method="get">
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control" placeholder="Search for exam by title...">
                                        <button class="btn btn-primary">Search</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2">
                                <a th:href="@{/create}" class="d-inline-block fw-medium btn btn-primary">Create Exam</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="p-3 w-100 border-bottom bg-white" th:fragment="examNavbar">
                    <div class="sidebar-logo fs-4">
                        <a><img th:src="@{/images/aitc-logo.png}" width="40px" alt="logo" class="me-1">Ace Exam Platform</a>
                    </div>
                </div>
                <div class="p-3 w-100 border-bottom bg-white" th:fragment="logoNavbar">
                    <div class="sidebar-logo fs-4">
                        <a th:href="@{/}"><img th:src="@{/images/aitc-logo.png}" width="40px" alt="logo" class="me-1">Ace Exam Platform</a>
                    </div>
                </div>
                <main class="p-3">
                    <div class="container-fluid">
                        <!-- Content goes here -->
                    </div>
                </main>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="examsSearch">
        <form action="#" th:action="@{/search}" method="post">
            <div class="input-group">
                <input type="text" name="search" placeholder="Search for exam by title...">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </th:block>
    <th:block th:fragment="scripts">
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/script.js}"></script>
    </th:block>
    <th:block th:fragment="candidateScripts">
        <script th:src="@{/js/script.js}" ></script>
    </th:block>
</body>
</html>