<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{components :: header}"></th:block>
    <title>Exam Select</title>
</head>
<body>
    <div class="main">
        <th:block th:replace="~{components :: examNavbar}"></th:block>
        <main class="p-3">
            <div class="container">
                <form th:if="${!#lists.isEmpty(exams)}" action="#" th:action="@{/login}" method="post" class="col-lg-10 m-auto border p-5 bg-white">
                    <h2 class="text-center mb-5">Welcome</h2>
                    <div class="mx-auto mb-5 col-lg-6">
                        <label for="id" class="text-center mb-3">Please select the exam you wish to take</label>
                        <select name="id" id="id" class="form-select mb-3">
                            <option th:each="exam:${exams}" th:value="${exam.id}" th:text="${exam.title}"></option>
                        </select>
                        <p class="text-danger text-center" th:if="${error != null}" th:text="${error}"></p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary fw-medium text-uppercase">Next</button>
                    </div>
                </form>
                <div th:if="${#lists.isEmpty(exams)}" class="col-lg-10 m-auto border p-5 bg-white">
                    <h2 class="text-center text-capitalize mb-5">No exams available</h2>
                    <p class="text-center">There are no active exams right now!</p>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/exam/select}" class="btn btn-primary fw-medium text-uppercase">Refresh</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>