<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="~{components :: header}"></th:block>
    <title th:text="${pageTitle}"></title>
</head>
<body>
    <div class="d-flex">
        <div th:replace="~{components :: dashboardSidebar(${currentRoute.name})}"></div>
        <div class="main w-100">
            <th:block th:replace="~{components :: dashboardNavbar}"></th:block>
            <main class="p-3">
                <div class="container-fluid">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center text-uppercase">Title</th>
                            <th:block th:switch="${pageRoute}">
                                <th th:case="${T(com.exam_platform.ace.model.PageRoute.SCHEDULED)}" scope="col" class="text-center text-uppercase">Scheduled Date</th>
                                <th th:case="${T(com.exam_platform.ace.model.PageRoute.RECORDED)}" scope="col" class="text-center text-uppercase">Date Taken</th>
                            </th:block>
                            <th th:unless="${pageRoute.name() == 'RECORDED'}" scope="col" class="text-center text-uppercase" th:text="${pageRoute.name() == 'SCHEDULED' ? 'Open Time' : 'Close Time'}">Time</th>
                            <th th:if="${examType == 'ONGOING'}" scope="col" class="text-center text-uppercase">Candidates Concluded</th>
                            <th scope="col" class="text-center text-uppercase">Manage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="exam:${exams}">
                            <td class="text-center" th:text="${exam.title}">Title</td>
                            <td th:unless="${pageRoute.name() == 'ONGOING'}" class="text-center" th:text="${#dates.format(exam.scheduledDate, 'd MMMMM, yyyy')}">Date</td>
                            <td th:unless="${pageRoute.name() == 'RECORDED'}" class="text-center" th:text="${#dates.format(pageRoute.name() == 'SCHEDULED' ? exam.openTime : exam.closeTime, 'h:mm aa'}">Time</td>
                            <td></td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(exams)}">
                           <td class="text-center" colspan="10">No exam available</td>
                        </tr>
                        </tbody>
                        <tfoot th:if="${maxPages > -1}">
                        <tr>
                            <td colspan="10">
                                <div class="d-flex justify-content-end">
                                    <ul class="pagination">
                                        <li th:each="pageNumber:${#numbers.sequence(0, maxPages)}" class="page-item">
                                            <a class="page-link"
                                               th:href="@{/{page}/{n}(page=${currentRoute.page},n=${pageNumber + 1})}"
                                               th:text="${pageNumber + 1}"
                                               th:attrib="${pageNumber == currentPage - 1}?'aria-current=\'true\''">
                                                100
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <th:block th:replace="~{components :: scripts}"></th:block>
</body>
</html>