<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="~{components :: header}"></th:block>
    <title th:text="${pageTitle}"></title>
</head>
<body>
    <div class="d-flex">
        <div th:replace="~{components :: dashboardSidebar(${currentRoute.name})}"></div>
        <div class="main w-100">
            <th:block th:replace="~{components :: dashboardNavbar}"></th:block>
            <main class="p-3">
                <div class="container overflow-x-auto">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center text-uppercase">Title</th>
                            <th:block th:switch="${currentRoute.name()}">
                                <th:block th:case="'SCHEDULED'">
                                    <th scope="col" class="text-center text-uppercase">Scheduled Date</th>
                                    <th scope="col" class="text-center text-uppercase">Open Time</th>
                                    <th scope="col" class="text-center text-uppercase">Registered Candidates</th>
                                </th:block>
                                <th:block th:case="'ONGOING'">
                                    <th scope="col" class="text-center text-uppercase">Close Time</th>
                                    <th scope="col" class="text-center text-uppercase">Total Candidates</th>
                                    <th scope="col" class="text-center text-uppercase">Candidates Concluded</th>
                                </th:block>
                                <th:block th:case="'RECORDED'">
                                    <th scope="col" class="text-center text-uppercase">Date Taken</th>
                                    <th scope="col" class="text-center text-uppercase">Total Candidates</th>
                                    <th scope="col" class="text-center text-uppercase">Candidates Concluded</th>
                                </th:block>
                                <th:block th:case="'SEARCH'">
                                    <th scope="col" class="text-center text-uppercase">Date</th>
                                    <th scope="col" class="text-center text-uppercase">Open Time</th>
                                    <th scope="col" class="text-center text-uppercase">Close Time</th>
                                    <th scope="col" class="text-center text-uppercase">Total Candidates</th>
                                </th:block>
                            </th:block>
                            <th scope="col" class="text-center text-uppercase">Manage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="exam:${exams}" th:class="${currentRoute.name() == 'SEARCH' && exam.state.name() == 'SCHEDULED' ? 'table-success': currentRoute.name() == 'SEARCH' && exam.state.name() == 'ONGOING' ? 'table-warning' :  currentRoute.name() == 'SEARCH' && exam.state.name() == 'RECORDED'? 'table-danger' : ''}">
                            <td class="text-center" th:text="${exam.title}">Title</td>
                            <th:block th:switch="${currentRoute.name()}">
                                <th:block th:case="'SCHEDULED'">
                                    <td class="text-center" th:text="${#dates.format(exam.scheduledDate, 'd MMMMM, yyyy')}"></td>
                                    <td class="text-center" th:text="${#dates.format(exam.openTime, 'h:mm aa')}"></td>
                                    <td class="text-center" th:text="${exam.candidates.size()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <a th:href="@{/update/{id}(id=${exam.id})}" class="text-primary fw-bold">Update</a>
                                            <a th:href="@{/delete/{id}(id=${exam.id})}" class="text-danger fw-bold" onclick="return confirm('Are you sure?')">Delete</a>
                                        </div>
                                    </td>
                                </th:block>
                                <th:block th:case="'ONGOING'">
                                    <td class="text-center" th:text="${#dates.format(exam.closeTime, 'h:mm aa')}"></td>
                                    <td class="text-center" th:text="${exam.candidates.size()}"></td>
                                    <td class="text-center" th:text="${exam.countCandidatesCompleted()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <a th:href="@{/update/{id}(id=${exam.id})}" class="text-primary fw-bold">Update</a>
                                            <a th:href="@{/stop/{id}(id=${exam.id})}" class="text-danger fw-bold" onclick="return confirm('Are you sure?')">Stop</a>
                                        </div>
                                    </td>
                                </th:block>
                                <th:block th:case="'RECORDED'">
                                    <td class="text-center" th:text="${#dates.format(exam.scheduledDate, 'd MMMMM, yyyy')}"></td>
                                    <td class="text-center" th:text="${exam.candidates.size()}"></td>
                                    <td class="text-center" th:text="${exam.countCandidatesCompleted()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <a th:href="@{/export/{id}(id=${exam.id})}" class="text-primary fw-bold">Export</a>
                                            <a th:href="@{/delete/{id}(id=${exam.id})}" class="text-danger fw-bold" onclick="return confirm('Are you sure?')">Delete</a>
                                        </div>
                                    </td>
                                </th:block>
                                <th:block th:case="'SEARCH'">
                                    <td class="text-center" th:text="${#dates.format(exam.scheduledDate, 'd MMMMM, yyyy')}"></td>
                                    <td class="text-center" th:text="${#dates.format(exam.openTime, 'h:mm aa')}"></td>
                                    <td class="text-center" th:text="${#dates.format(exam.closeTime, 'h:mm aa')}"></td>
                                    <td class="text-center" th:text="${exam.candidates.size()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <a th:href="@{/{route}/{id}(route=${exam.state.name() == 'RECORDED'? 'export' : 'update'},id=${exam.id})}" class="text-primary fw-bold" th:text="${exam.state.name() == 'RECORDED'? 'Export' : 'Update'}">Primary</a>
                                            <a th:href="@{/{route}/{id}(route=${exam.state.name() == 'ONGOING'? 'stop' : 'delete'},id=${exam.id})}" class="text-danger fw-bold" th:text="${exam.state.name() == 'ONGOING'? 'Stop' : 'Delete'}" onclick="return confirm('Are you sure?')">Danger</a>
                                        </div>
                                    </td>
                                </th:block>
                            </th:block>
                        </tr>
                        <tr th:if="${#lists.isEmpty(exams)}">
                           <td class="text-center" colspan="10">No exam available</td>
                        </tr>
                        </tbody>
                        <tfoot th:if="${maxPages > 0}">
                        <tr>
                            <td colspan="10">
                                <ul class="pagination justify-content-end m-0">
                                    <li th:each="pageNumber:${#numbers.sequence(0, maxPages)}" th:class="${pageNumber == currentPage - 1 ? 'page-item active':'page-item'}">
                                        <a class="page-link"
                                           th:href="@{/{page}/{n}(page=${currentRoute.page},n=${pageNumber + 1})}"
                                           th:text="${pageNumber + 1}"
                                           th:aria-current="${pageNumber == currentPage - 1}">
                                            1-100
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <th:block th:replace="~{components :: scripts}"></th:block>
</body>
</html>